.box {
  align-items: center;
  margin: 50px;
}
#chart {
  background-color: azure;
  display: inline-block;
  height: 100px;
}
#map {
  display: inline-block;
  margin: 0px !important;
  align-items: center;
}
#result {
  background-color: azure;
  display: inline-block;
  height: 100px;
}
